/**
 * SCSS/Partials/Variables
 * --------------------------------------------------------------------
 * Variáveis e overrides de bibliotecas.
 * 
 * @since   0.0.1
 */

// Override de variáveis de bibliotecas
// ----------------------------------------------------------------------
$icon-font-path: "../fonts/";
$fa-font-path: "../fonts";
$owl-image-path: "../img/owl.carousel/";
