<div class="container">
  <h1>Page</h1>

  <hr>

  <div class="well">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolore porro atque est, ut error vero earum nihil modi facere velit sapiente deserunt dolorum vel nam adipisci fuga maiores rem?</p>
  </div>

  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus commodi incidunt sed quibusdam quos similique repudiandae et nam, beatae numquam. Possimus vero earum nihil numquam animi quo itaque magni eaque.</p>
  <p>Tenetur sapiente earum, quae amet, ut a laudantium, odit tempora numquam dolore odio neque excepturi libero. Dolor quaerat illo modi odit eveniet alias ad autem? Illo, quis! Nemo, culpa quisquam.</p>
  <p>Quia incidunt impedit facilis molestias cupiditate rerum labore aspernatur consectetur, cumque natus nostrum repellendus ad aliquam porro omnis in cum fuga nulla. Neque suscipit amet aliquid, consequuntur laboriosam vero aperiam.</p>
  <p>Dolorem numquam mollitia modi nesciunt voluptates quae accusamus nostrum. Quibusdam animi consectetur, inventore maxime debitis nostrum natus! Debitis, odio est ipsa incidunt assumenda iusto quaerat explicabo aperiam consequatur et? Rerum.</p>

  <hr>

  <p class="text-muted">
    <em>©2018 Fabio Y. Goto</em>
  </p>
</div>
